:root {

}

body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background: rgb(26, 26, 26);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    display: block;
    /* min-height: 100vh;
    min-height: -webkit-fill-available; */
    /* height: 100vh;
    overflow: hididen; */
  
}

html{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: none;
}


a:visited{
    color: inherit; /* blue colors for links too */
    text-decoration: none;
}


.web3modal-modal-lightbox { z-index: 1200 !important; }
