:root {

}

body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background: rgb(26, 26, 26);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    display: block;
    /* min-height: 100vh;
    min-height: -webkit-fill-available; */
    /* height: 100vh;
    overflow: hididen; */
  
}

/* body > *:not(#mintBox > *){
    filter: blur(3px);
}
   */

   /* body > div > #mintWrapper > *:not(#mintBox){
    filter: blur(3px);
    } */


html{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: none;
}


a:visited{
    color: inherit; /* blue colors for links too */
    text-decoration: none;
}


.web3modal-modal-lightbox { z-index: 1200 !important; }

input[type="number"]
{
    background: transparent;
    border: none;
    outline: none;

    height: 80%;
    font-size: .9em;
    font-weight: 600;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

